<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<main class="container">
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <h1><%= title %></h1>
            <br>

            <table class="table table-bordered table-striped table-hover">
                <!-- Header row -->
                <tr class="d-flex">
                    <th class="text-center col-2">Name</th>
                    <th class="text-center col-2">Author</th>
                    <th class="text-center col-2">Published</th>
                    <th class="text-center col-6">Description</th>
                </tr>

                <!-- Repeatable template -->
                <% for(let count = 0; count < BookList.length; count++) { %>
                    <tr class="d-flex">
                        <td class="text-center col-2"><%= BookList[count].name %></td>
                        <td class="text-center col-2"><%= BookList[count].author %></td>
                        <td class="text-center col-2"><%= BookList[count].published %></td>
                        <td class="text-center col-6"><%= BookList[count].description %></td>
                    </tr>

                <% } %>
            </table>
        </div>
    </div>
</main>

<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>