<!-- 

login.ejs
ExpressPortfolio

Created by Silviya Velani on 02/26/21.
Student Id: 301167163
Copyright © 2021 Centennial College. All rights reserved. -->


<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>

<main class="container">
    <div class="jumbotron">
        <div class="container-flex" style="padding-top:45px;">

            <!-- Page title -->
            <h1 class="xlarge-font" style="text-align: center;"><b>Please <span style="color:MediumSeaGreen;">Login</span></b></h1>
            <hr class="my-3"><br>

            <!-- Message Area -->
            <% if(messages.length > 0) {%>
                <div class="alert alert-danger">
                    <%= messages %>
                </div>
            <% } %>

            <div class="row">
                <div class="offset-md-4 col-md-4">
                    <form method="POST" autocomplete="off">
                        <fieldset class="form-group">
                            <label for="username">Username: </label>
                            <input type="text" class="form-control"
                            name="username" placeholder="Enter username"
                            id="username" required autofocus>
                        </fieldset>

                        <fieldset class="form-group">
                            <label for="password">Password: </label>
                            <input type="password" class="form-control"
                            name="password" placeholder="Enter password"
                            id="password" required>
                        </fieldset>

                        <fieldset class="form-group text-right">
                            <input type="submit" class="btn btn-success" value="Login">
                            <a href="/">
                                <input type="button" class="btn btn-warning" value="Cancel">
                            </a>
                        </fieldset>

                    </form>
                </div>
            </div>
        </div>

    </div>
    <br><br><br><br><br><br><br>
</main>

<%- include ../partials/bottom_nav.ejs %>  
<%- include ../partials/footer.ejs %>